/* Create Documents */

position: relative;
width: 1440px;
height: 986px;
left: 846px;
top: 830px;

background: #F0F0F0;


/* โครงการของฉัน */

position: absolute;
width: 157px;
height: 29px;
left: 786px;
top: 102px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Frame 206 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 15px;
gap: 10px;

position: absolute;
width: 290px;
height: 986px;
left: 0px;
top: 2px;

/* Neutral/0 */
background: #FFFFFF;
border-radius: 8px;


/* Frame 205 */

width: 260px;
height: 966px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 202 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: absolute;
height: 614px;
left: 0px;
right: 0px;
top: 0px;



/* Frame 200 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 108px;

width: 260px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 3746 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 155px;
height: 43px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* KUDMS */

width: 155px;
height: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
display: flex;
align-items: center;

color: #005250;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ระบบจัดการเอกสาร */

width: 155px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;

color: #005250;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 35 */

width: 20px;
height: 20px;

background: #D9D9D9;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 5 */

position: absolute;
width: 9px;
height: 18px;
left: 1px;
top: 1px;

/* Neutral/0 */
background: #FFFFFF;
border-radius: 1px;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* search-field */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 260px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* search-field */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 16px;

width: 260px;
height: 50px;

border: 1px solid #C0C3C9;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* search */

width: 20.5px;
height: 20.5px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 20.83%;
top: 12.5%;
bottom: 20.83%;

border: 2px solid #C0C3C9;


/* Vector */

position: absolute;
left: 69.38%;
right: 12.5%;
top: 69.38%;
bottom: 12.5%;

border: 2px solid #C0C3C9;


/* Search */

width: 55px;
height: 19px;

/* Body */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #C0C3C9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Admin navbar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 260px;
height: 450px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Nav Item slidebar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 10px;
gap: 12px;

width: 260px;
height: 50px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 42 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 1px;
gap: 10px;

width: 20.5px;
height: 20.5px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 18px;
height: 18px;

background: #005250;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body/Body3/Medium */

width: 100px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: justify;

color: #005250;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Document Item slidebar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 165px 16px 10px;
gap: 12px;

width: 260px;
height: 50px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 44 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 1px;
gap: 10px;

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 18px;
height: 18px;

background: #005250;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body/Body3/Medium */

width: 100px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: justify;

color: #005250;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Create_Document Item slidebar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 165px 16px 10px;
gap: 12px;

width: 260px;
height: 50px;

background: #4D9493;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 18px;
height: 18px;

background: #F4F5F6;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body/Body3/Medium */

width: 100px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: justify;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Process approve project items slidebar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13px 10px;
gap: 12px;

width: 260px;
height: 50px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Vector */

width: 18px;
height: 18px;

background: #005250;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body/Body3/Medium */

width: 126px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: justify;

color: #005250;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* await approval document Item slidebar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 15px 11px;
gap: 12px;

width: 260px;
height: 50px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 16px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 16px;
height: 20px;

background: #005250;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body/Body3/Medium */

width: 100px;
height: 15px;

/* Body/Body3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: justify;

color: #005250;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Tracking document Item slidebar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 165px 16px 10px;
gap: 12px;

width: 260px;
height: 50px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 18px;
height: 18px;

background: #005250;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body/Body3/Medium */

width: 100px;
height: 15px;

/* Body/Body3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: justify;

color: #005250;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Report Item slidebar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 165px 16px 10px;
gap: 12px;

width: 260px;
height: 50px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 18px;
height: 18px;

background: #005250;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body/Body3/Medium */

width: 100px;
height: 15px;

/* Body/Body3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: justify;

color: #005250;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Permission items slidebar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 165px 16px 10px;
gap: 12px;

width: 260px;
height: 50px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;


/* Frame */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.96%;
top: 16.67%;
bottom: 12.5%;

background: #005250;


/* Body/Body3/Medium */

width: 103px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: justify;

color: #005250;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Guildbook items slidebar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13px 10px;
gap: 12px;

width: 260px;
height: 50px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;


/* Vector */

width: 18px;
height: 16px;

background: #005250;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body/Body3/Medium */

width: 69px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: justify;

color: #005250;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 425 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: absolute;
height: 202px;
left: 0px;
right: 0px;
top: 764px;



/* General navbar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 260px;
height: 100px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Settings Item slidebar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 165px 16px 10px;
gap: 12px;

width: 260px;
height: 50px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 18px;
height: 18px;

background: #005250;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body/Body3/Medium */

width: 100px;
height: 15px;

/* Body/Body3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: justify;

color: #005250;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Support Item slidebar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 165px 16px 10px;
gap: 12px;

width: 260px;
height: 50px;

border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 18px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

width: 18px;
height: 20px;

background: #005250;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body/Body3/Medium */

width: 100px;
height: 15px;

/* Body/Body3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: justify;

color: #005250;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 204 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 260px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* profiel_slidebar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 11px 10px;
gap: 10px;

width: 260px;
height: 70px;

background: #006664;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 43 */

width: 239.67px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Avatar */

box-sizing: border-box;

position: absolute;
width: 48px;
height: 48px;
left: 0px;
top: 0px;

background: #E5EEFF;
border: 1px solid #FFFFFF;
border-radius: 999px;


/* A */

position: absolute;
width: 15px;
height: 24px;
left: calc(50% - 15px/2 + 0.5px);
top: calc(50% - 24px/2);

/* Body/Body1/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #212121;



/* Vector */

position: absolute;
width: 2.67px;
height: 10.67px;
left: 237px;
top: 0px;

background: #1F1F1F;


/* Group 8 */

position: absolute;
width: 137px;
height: 35px;
left: 74px;
top: 6.5px;



/* test@compaxtech.com */

position: absolute;
width: 131px;
height: 15px;
left: 74px;
top: 26.5px;

/* Body/Body3/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #919191;



/* Body/Body3/SemiBold */

position: absolute;
width: 137px;
height: 15px;
left: 74px;
top: 6.5px;

/* Body/Body3/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #FFFFFF;



/* Frame 405 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 22px 23px;
gap: 10px;

position: absolute;
width: 1150px;
height: 73px;
left: 290px;
top: 0px;

background: #FFFFFF;


/* Frame 403 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 440px;

width: 1104px;
height: 29px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Dashboard */

width: 215px;
height: 29px;

/* Navbar

Title
*/
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #006664;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 402 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Notification icon */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 2 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* clarity:notification-solid-badged */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 42.56%;
right: 42.83%;
top: 88.89%;
bottom: 4.78%;

background: #303030;


/* Vector */

position: absolute;
left: 8.46%;
right: 8.76%;
top: 4.93%;
bottom: 14.03%;

background: #303030;


/* Vector */

position: absolute;
left: 69.45%;
right: 2.77%;
top: 2.78%;
bottom: 69.44%;

/* Secondary */
background: #FF2727;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* search-field */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

display: none;
width: 260px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 3667 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

position: absolute;
width: 979px;
height: 74px;
left: 376px;
top: 161px;

/* Card shadow */
box-shadow: 4px 4px 18px -5px rgba(218, 221, 232, 0.8);


/* Frame 382 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 19px 15px;
gap: 10px;

width: 979px;
height: 74px;

background: #FFFFFF;
border-radius: 13px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 3665 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 11px;

width: 949px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 17 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 687px;
height: 35px;

border: 1px solid #C0C3C9;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

display: none;
width: 19px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 20 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 73px;

width: 181px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 16 */

width: 181px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* vuesax/linear/add-square */

position: absolute;
visibility: hidden;
width: 24px;
height: 24px;
left: 0px;
top: 0px;



/* กรุณากรอกเลขที่ออกหนังสือ */

position: absolute;
width: 368px;
height: 19px;
left: 0px;
top: 0px;

/* Body/Body2/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #C0C3C9;



/* vuesax/linear/add-square */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* DropDown  */

box-sizing: border-box;

width: 83px;
height: 35px;

background: #FFFFFF;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* vuesax/linear/arrow-down */

position: absolute;
visibility: hidden;
width: 16px;
height: 16px;
left: 85px;
top: 10px;



/* Frame 3662 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 51px;
height: 15px;
left: 12px;
top: 10px;



/* vuesax/linear/search-normal */

width: 15px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* vuesax/linear/search-normal */

position: absolute;
width: 15px;
height: 15px;
left: 0px;
top: 0px;



/* search-normal */

position: absolute;
width: 15px;
height: 15px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 12.5%;
top: 8.33%;
bottom: 12.5%;

border: 1.5px solid #000000;


/* Vector */

position: absolute;
left: 83.33%;
right: 8.33%;
top: 83.33%;
bottom: 8.33%;

border: 1.5px solid #000000;


/* Vector */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

opacity: 0;
border: 1px solid #000000;


/* ค้นหา */

width: 28px;
height: 15px;

/* Body/Body3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group 310 */

width: 157px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 207 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4D9493;
border-radius: 10px;


/* Frame 323 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 123px;
height: 24px;
left: 17px;
top: 6px;



/* Frame */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

background: #FFFFFF;


/* สร้างโครงการ */

width: 89px;
height: 19px;

/* Body/Body2/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 335 */

display: none;
width: 979px;
height: 642px;

background: #FFFFFF;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Data Table Container */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 979px;
height: 243px;
left: 376px;
top: 265px;

background: #FFFFFF;
border: 1px solid #F1F5F9;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 12px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 979px;
height: 241px;
overflow: scroll;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Table */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 979px;
height: 241px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header → Row */

box-sizing: border-box;

width: 979px;
height: 73px;

background: #FFFFFF;
border-bottom: 1px solid #E2E8F0;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: -1px 0px;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 24px;
gap: 12.87px;

position: absolute;
width: 96px;
height: 56px;
left: 0px;
top: 8.25px;



/* ลำดับที่ */

width: 36px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 7.52px;
height: 10.5px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Symbol */

width: 7.52px;
height: 10.5px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 0px 24px;
gap: 8px;

position: absolute;
height: 16px;
left: 95px;
right: 591.83px;
top: 28.25px;



/* Text */

width: 58.13px;
height: 16px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 7.52px;
height: 10.5px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Symbol */

width: 7.52px;
height: 10.5px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 0px 48px;
gap: 8.01px;

position: absolute;
height: 16px;
left: 329px;
right: 490px;
top: 28px;



/* Text */

width: 33.84px;
height: 16px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 7.52px;
height: 10.5px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Symbol */

width: 7.52px;
height: 10.5px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 27.5px 24px 29px 48px;

position: absolute;
height: 72.5px;
left: 480px;
right: 388px;
top: 0px;



/* สถานะ */

width: 32px;
height: 16px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 27.5px 24px 29px;

position: absolute;
height: 72.5px;
left: 641px;
right: 250px;
top: 1px;



/* Text */

width: 37.61px;
height: 16px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 0px 24px;
gap: 8px;

position: absolute;
height: 16px;
left: 748px;
right: 141px;
top: 29px;



/* Text */

width: 47.17px;
height: 16px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 7.52px;
height: 10.5px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Symbol */

width: 7.52px;
height: 10.5px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 27.5px 24px 29px 48px;

position: absolute;
height: 72.5px;
left: 838px;
right: 13px;
top: 1px;



/* Text */

width: 70.2px;
height: 16px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body */

width: 979px;
height: 85px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: -1px 0px;


/* Row 1 */

position: absolute;
height: 85px;
left: 0px;
right: 0px;
top: 0px;



/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 32px 24px 33px;

position: absolute;
height: 85px;
left: 0px;
right: 883px;
top: -0.5px;



/* Text */

width: 5.81px;
height: 20px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;

color: #1E293B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
height: 40px;
left: 96px;
right: 621px;
top: 22px;



/* Background+Border+Shadow */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #ECFDF5;
border: 1px solid #D1FAE5;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 13.5px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Symbol */

width: 13.5px;
height: 18px;

background: #10B981;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 198px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 198px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* โครงการพัฒนาระบบจัดการเอกสาร */

width: 198px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #1E293B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 198px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* PRJ-2569-001 */

width: 83px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 22.5px 24px 22.5px 20px;
gap: 4px;

position: absolute;
height: 85px;
left: 358px;
right: 496px;
top: 3px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 81px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 125,000.00 */

width: 81px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #059669;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 81px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* บาท */

width: 81px;
height: 16px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 28.5px 24px;

position: absolute;
height: 85px;
left: 479px;
right: 352px;
top: 0px;



/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;
gap: 6px;

width: 92px;
height: 28px;

background: #D1FAE5;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

width: 6px;
height: 6px;

background: #059669;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Complete */

width: 56px;
height: 16px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #059669;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 24px 33px;

position: absolute;
height: 85px;
left: 615px;
right: 204px;
top: -1px;



/* ขออนุมัติโครงการ */

width: 98px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #475569;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 22.5px 24px;
gap: 4px;

position: absolute;
height: 85px;
left: 748px;
right: 105px;
top: 3px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 78px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 05/10/2569 */

width: 78px;
height: 20px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #1E293B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 78px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 10:30 น. */

width: 78px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 24px;
gap: 8px;

position: absolute;
height: 44px;
left: 1010.61px;
right: -145.74px;
top: 20.5px;

opacity: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 6px 16.29px 6px 16.28px;

width: 58.7px;
height: 44px;

background: #F1F5F9;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 26.13px;
height: 32px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */
display: flex;
align-items: center;
text-align: center;

color: #475569;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 23.42px;
height: 32px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 3.06px;
height: 11.81px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Symbol */

width: 3.06px;
height: 11.81px;

background: #94A3B8;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 207 */

position: absolute;
width: 83px;
height: 27px;
left: 874px;
top: 25px;



/* Frame 310 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 14px;
gap: 10px;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E2E2E2;
border-radius: 5px;


/* ตรวจสอบ */

width: 55px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body */

width: 979px;
height: 85px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Row 1 */

position: absolute;
height: 85px;
left: 0px;
right: -199.23px;
top: 0px;



/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 32px 24px 33px;

position: absolute;
height: 85px;
left: 0px;
right: 1082.23px;
top: -0.5px;



/* 2 */

width: 9px;
height: 20px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;

color: #1E293B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
height: 44px;
left: 96px;
right: 820.23px;
top: 22px;



/* Background+Border+Shadow */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #F3F4F6;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 13.5px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Symbol */

width: 13.5px;
height: 18px;

background: #1F1F1F;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 102px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 102px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* เทคแคมป์ครั้งที่ 5 */

width: 102px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
align-items: center;
letter-spacing: 0.15px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 102px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* PRJ-2569-001 */

width: 83px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 22.5px 24px 22.5px 20px;
gap: 4px;

position: absolute;
height: 113px;
left: 358px;
right: 695.23px;
top: 3px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 81px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ยังไม่มีการจัดสรรงบ */

width: 81px;
height: 48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */
display: flex;
align-items: center;
letter-spacing: 0.15px;

color: #B45309;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 81px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 28.5px 24px;

position: absolute;
height: 85px;
left: 479px;
right: 551.23px;
top: 0px;



/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;
gap: 6px;

width: 100px;
height: 28px;

background: #FFF4E5;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

width: 6px;
height: 6px;

background: #B45309;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Processing */

width: 64px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #B45309;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 24px 33px;

position: absolute;
height: 85px;
left: 615px;
right: 403.23px;
top: -1px;



/* สรุปผลโครงการ */

width: 89px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #475569;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 22.5px 24px;
gap: 4px;

position: absolute;
height: 85px;
left: 748px;
right: 304.23px;
top: 3px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 78px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 05/10/2569 */

width: 78px;
height: 20px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #1E293B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 78px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 10:30 น. */

width: 78px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 24px;
gap: 8px;

position: absolute;
height: 44px;
left: 1010.61px;
right: 53.49px;
top: 20.5px;

opacity: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 6px 16.29px 6px 16.28px;

width: 58.7px;
height: 44px;

background: #F1F5F9;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 26.13px;
height: 32px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */
display: flex;
align-items: center;
text-align: center;

color: #475569;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 23.42px;
height: 32px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 3.06px;
height: 11.81px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Symbol */

width: 3.06px;
height: 11.81px;

background: #94A3B8;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 208 */

position: absolute;
width: 83px;
height: 27px;
left: 874px;
top: 22px;



/* Frame 310 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 14px;
gap: 10px;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E2E2E2;
border-radius: 5px;


/* ตรวจสอบ */

width: 55px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 190 */

position: absolute;
width: 179px;
height: 24px;
left: 1177px;
top: 530px;



/* weui:arrow-filled */

position: absolute;
width: 12px;
height: 24px;
left: 0px;
top: 0px;

transform: rotate(180deg);


/* Vector */

position: absolute;
left: 12.92%;
right: 25.72%;
top: 23.47%;
bottom: 23.5%;

background: #585858;
transform: rotate(180deg);


/* Frame 189 */

position: absolute;
left: 21px;
right: 27px;
top: 2px;
bottom: 2px;



/* Rectangle 121 */

position: absolute;
width: 19px;
left: 0px;
top: 1px;
bottom: 1px;

background: #D9D9D9;
border-radius: 2px;


/* Frame 182 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 28px;

position: absolute;
width: 7px;
height: 20px;
left: 6px;
top: 0px;

border-radius: 1px;


/* 1 */

width: 7px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 145%;
/* or 20px */
display: flex;
align-items: center;
letter-spacing: -0.005em;

color: #585858;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 183 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 28px;

position: absolute;
width: 9px;
height: 20px;
left: 33px;
top: 0px;

border-radius: 1px;


/* 2 */

width: 9px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 145%;
/* or 20px */
display: flex;
align-items: center;
letter-spacing: -0.005em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 184 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 28px;

position: absolute;
width: 10px;
height: 20px;
left: 62px;
top: 0px;

border-radius: 1px;


/* 3 */

width: 10px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 145%;
/* or 20px */
display: flex;
align-items: center;
letter-spacing: -0.005em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 185 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 28px;

position: absolute;
width: 10px;
height: 20px;
left: 92px;
top: 0px;

border-radius: 1px;


/* 4 */

width: 10px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 145%;
/* or 20px */
display: flex;
align-items: center;
letter-spacing: -0.005em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 186 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 28px;

position: absolute;
width: 9px;
height: 20px;
left: 122px;
top: 0px;

border-radius: 1px;


/* 5 */

width: 9px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 145%;
/* or 20px */
display: flex;
align-items: center;
letter-spacing: -0.005em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* weui:arrow-filled */

position: absolute;
width: 12px;
height: 24px;
left: 167px;
top: 0px;



/* Vector */

position: absolute;
left: 25.72%;
right: 12.92%;
top: 23.5%;
bottom: 23.47%;

background: #DAD9DB;